// Lato Regular

// .lato_regular_base{
//     font-family: 'Lato_Lighty';
// }
// .lato_bold{
//     @extend .lato_regular_base;
//    font-weight:400
// }
// .lato_medium{
//     @extend .lato_regular_base;
//    font-weight:400
// }
// .lato_regular{
//     @extend .lato_regular_base;
//    font-weight:200
// }

// roboto

.roboto_base {
  font-family: "Roboto", sans-serif;
}

// 300 400 500 700

.roboto_300 {
  @extend .roboto_base;
  font-weight: 300;
}

.roboto_400 {
  @extend .roboto_base;
  font-weight: 400;
}

.roboto_500 {
  @extend .roboto_base;
  font-weight: 500;
}

.roboto_700 {
  @extend .roboto_base;
  font-weight: 700;
}
