//*Primary
$primary-color: #50bded; // must  be lighter than secondary color
$secondary-color: #240642; // must be darker than primary color
$footer-bg: #240642;

$primary-highlight-color: #50bded;
//*Secondary

//*Tersary
